.home {
  height: var(--100vh);
}

.home__wrapper {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}



.header {
  position: relative;

  @include media('<=phone') {
    font-size: 4rem;
    line-height: 1.05;
    margin: 15rem auto;
    width: 31.2rem;
  }
}

.thumbnail .keen-slider__slide {
    font-size: 1.8rem;
    margin-top: 10px;
    height: 3rem;
    width: 3rem;
  }
  .thumbnail .keen-slider__slide {
    cursor: pointer;
    text-align: center;
    position: absolute;
    right: 0;
  }
  .thumbnail .keen-slider__slide.active {
    border: 2px dashed white;
  }

  #thumbnails .number-slide1 {
    margin-left: 87vw;
}

.keen-slider__slide-svg {
    position: absolute;
    width: 3.5rem;
    height: 3.5rem;
    transition: all 3s;
    overflow: visible;
}

#thumbnails button {
    color: $color-white;
    cursor: pointer;
    margin: 0 .5rem;
}

.circle-2 {
    stroke-dasharray:0, 56.548667764616276
}
